.section-subtitle {
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;  
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}